@mixin slide-wrap {
    position: absolute;
    z-index: initial;
  
    width: 100%;
    height: 100%;

    overflow-x: hidden;
  
    * {
      z-index: unset;
    }
}

picture {
  display: block;
}

.about-me-button {
  display: inline-block;
  color: #e2e2e2;
  position: relative;
  text-decoration: none;
  z-index: 7;
  top: 100px;
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 1.3s;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: -40%;
  margin-top: 4%;

  &::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

.about-me-button:hover::after {
  height: calc(100% + 8px);
}

@keyframes appear {
  100% {
    top: 0;
    opacity: 1;
  }
}
